.wrapper
    padding-top: 38px
    overflow hidden
    // background: #fafafa
    .m-list
        margin: 10px
        background-color: #ffffff
        border-radius: 5px
        box-shadow: 5px 5px 5px rgba(0,0,0,.09);
        .m-header
            position relative
            display: flex
            padding: 11px 15px
            align-items: center
            justify-content: space-between
            .m-info
                font-size: 17px
                color #333333
                text-align: left 
                line-height: 1.2
                .m-id
                    font-size: 17px
                    color #333333
                // .m-type
            .m-state
                font-size: 14px
                &.m-state-1
                    color: rgb(156,88,33);
                &.m-state-2
                    color: rgb(101,112,176);
        .m-body
            padding: 15px
            font-size: 14px
            color #333333
        .m-footer
            position relative
            display: flex
            padding: 11px 15px
            align-items: center
            justify-content: space-between
            .m-time
                font-size: 14px
                color #999999
            .m-seebtn
                width 70px
                padding: 10px 15px
                border: none 
                border-radius: 5px
                font-size: 14px
                color #ffffff
                background-color: #4a4c5b

